.link-list {
    margin-top: 2rem;
    list-style: none;
}

.item {
    background-color: lightgray;
    width: 20rem;
    font-size: 1rem;
    padding: 1rem 0.5rem;
    border: 1px solid gray;
}

.link {
    color: gray;
    text-decoration: underline;
}
